.sidebar{
   background: $primary-color;
   width: 100px;
}
.sidebar-menu{
   margin: 0; padding: 0;
   width: 100px;

   li{
      display: block;
      position: relative;
      border-bottom: 1px solid lighten($primary-color, 10%);

      &:first-child{
         border-top: 1px solid lighten($primary-color, 10%);
      }
   }
   a{
      display: block;
      position: relative;
      width: 100px;
      height: 100px;
      color: $secondary-color;
      font-size: 24px;

      svg{
         position: absolute;
         top: 50%; left: 50%;
         transform: translate(-50%,-50%);
      }

      &:hover,
      &.active{
         background: $secondary-color;
         color: $primary-color;
      }
   }
}