*{
   margin: 0; padding: 0;
   box-sizing: border-box;
}
body{
   font-family: 'Avenir', Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: $text-color;
   background: $bg-color;
}

a.panel-block.markedAsDone{
   text-decoration: line-through !important;
   opacity: .65 !important;
}

.pull-right{
   float: right;
}