/* COLORS
============================= */
$primary-color:      #00254a;
$secondary-color:    #00bffe;

$bg-color:           #eaeaea;
$text-color:         #6c6c6c;
$border-color:       #d9d9d9;

$green:              #05e79b;
$red:                #e70006;
$yellow:             #ffb106;